*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    z-index: 1;
}
.sidebar{
    position: fixed;
    left:0;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;

}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
   

}
.sidebar header ul a{
    display: block;
    height: 100%;
    line-height: 65px;
    font-size: 22px;
    color: white;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255,255,.1);
    border-bottom: 1px solid black;
 
    
}
ul li a:hover{
   padding-left: 50px;
}
ul li a i{
    margin-right:30px;
}
div p{
    z-index: 10;
}